@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);* {
  font-family: 'Raleway', sans-serif;
}

body {
  position: relative;
  overflow-x: hidden;
  font-weight: 300;
}

body,
html {
  height: 100%;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper .overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(236, 236, 236, 0.8);
  z-index: 1;
}

#wrapper #sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 220px;
  width: 0;
  height: 100%;
  margin-left: -220px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper #sidebar-wrapper .sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}

#wrapper #sidebar-wrapper .sidebar-nav .sidebar-brand {
  height: 65px;
  font-size: 20px;
  line-height: 44px;
}

#wrapper #sidebar-wrapper .sidebar-nav .sidebar-brand img {
  width: 100px;
}

#wrapper #sidebar-wrapper .sidebar-nav li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%;
}

#wrapper #sidebar-wrapper .sidebar-nav li a {
  display: block;
  color: #3c3c3c;
  text-decoration: none;
  padding: 10px 15px 10px 30px;
}

#wrapper #sidebar-wrapper .sidebar-nav li a:hover {
  background-color: #fff;
  font-weight: 500;
}

#wrapper #page-content-wrapper {
  width: 100%;
}

#wrapper #page-content-wrapper .hamburger {
  position: fixed;
  top: 20px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}

#wrapper #page-content-wrapper .hamburger:hover,
#wrapper #page-content-wrapper .hamburger:focus,
#wrapper #page-content-wrapper .hamburger:active {
  outline: none;
  color: #212121;
}

#wrapper #page-content-wrapper .hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}

#wrapper #page-content-wrapper .hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}

#wrapper #page-content-wrapper .hamburger.is-closed .hamb-top,
#wrapper #page-content-wrapper .hamburger.is-closed .hamb-middle,
#wrapper #page-content-wrapper .hamburger.is-closed .hamb-bottom,
#wrapper #page-content-wrapper .hamburger.is-open .hamb-top,
#wrapper #page-content-wrapper .hamburger.is-open .hamb-middle,
#wrapper #page-content-wrapper .hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}

#wrapper #page-content-wrapper .hamburger.is-closed .hamb-top,
#wrapper #page-content-wrapper .hamburger.is-closed .hamb-middle,
#wrapper #page-content-wrapper .hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}

#wrapper #page-content-wrapper .hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out;
}

#wrapper #page-content-wrapper .hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}

#wrapper #page-content-wrapper .hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out;
}

#wrapper #page-content-wrapper .hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}

#wrapper #page-content-wrapper .hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}

#wrapper #page-content-wrapper .hamburger.is-open .hamb-top,
#wrapper #page-content-wrapper .hamburger.is-open .hamb-middle,
#wrapper #page-content-wrapper .hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}

#wrapper #page-content-wrapper .hamburger.is-open .hamb-top,
#wrapper #page-content-wrapper .hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}

#wrapper #page-content-wrapper .hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
}

#wrapper #page-content-wrapper .hamburger.is-open .hamb-middle {
  display: none;
}

#wrapper #page-content-wrapper .hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
}

#wrapper #page-content-wrapper .hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}

#wrapper #page-content-wrapper .hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}

#wrapper #page-content-wrapper .alertRow {
  position: absolute;
  z-index: 3;
  top: 30px;
  text-align: center;
  width: 100%;
}

#wrapper #page-content-wrapper .alertRow .alertCol {
  width: 100%;
  margin: 0 auto;
}

#wrapper #page-content-wrapper .alertRow .alertCol .alert {
  width: 50%;
  margin: 0 auto;
}

#wrapper #page-content-wrapper .container {
  margin: 0 !important;
  padding: 0 !important;
}

#wrapper #page-content-wrapper .container .events {
  padding-top: 100px;
}

#wrapper #page-content-wrapper .container .events .eventsCol {
  width: 100%;
}

#wrapper #page-content-wrapper .container .register {
  width: 100vw;
  padding-top: 100px;
}

#wrapper #page-content-wrapper .container .login {
  width: 100vw;
  padding-top: 100px;
}

#wrapper #page-content-wrapper .container .map {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

#wrapper #page-content-wrapper .container .map .loginInfo {
  position: absolute;
  z-index: 4;
  width: 80%;
  left: 10%;
  background-color: #fff;
  bottom: 10%;
  font-size: 22px;
  margin: 0 auto;
  text-align: center;
  border: 3px solid #e7e7e7;
  border-radius: 10px;
  padding: 20px 0;
}

#wrapper #page-content-wrapper .container .map .loginInfo p {
  margin: 0;
}

#wrapper #page-content-wrapper .container .map .searchForm {
  position: absolute;
  z-index: 2;
  width: 40%;
  margin: 50px 30% 0 30%;
}

#wrapper #page-content-wrapper .container .map .searchForm #location {
  -webkit-box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.35);
  padding: 25px;
}

#wrapper #page-content-wrapper .container .map #addPointBtn {
  position: absolute;
  z-index: 4;
  font-size: 70px;
  bottom: 50px;
  right: 50px;
  background: none;
  border: none;
  color: #91cbff;
}

#wrapper #page-content-wrapper .container .map #addPointBtn:hover {
  color: #a7a7a7;
}

#wrapper #page-content-wrapper .container .map .panel {
  width: 100vw;
  height: 400px;
  margin: 0;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  display: none;
  padding: 50px 70px;
  -webkit-box-shadow: 0px -30px 42px 10px #d4d4d4;
  box-shadow: 0px -30px 42px 10px #d4d4d4;
}

#wrapper #page-content-wrapper .container .map .panel p {
  font-size: 16px;
  color: #212121;
}

#wrapper #page-content-wrapper .container .map .panel #closePanel {
  width: 20px;
  position: absolute;
  top: 20px;
  font-size: 20px;
  right: 20px;
}

#wrapper #page-content-wrapper .container .map .panel #closePanel:hover {
  color: #a7a7a7;
}

#wrapper #page-content-wrapper .container .map .panel2 {
  width: 100vw;
  height: 300px;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  display: none;
  padding: 50px 70px;
}

#wrapper #page-content-wrapper .container .map .panel2 p {
  font-size: 16px;
  color: #212121;
}

#wrapper #page-content-wrapper .container .map .panel2 #closePanel2 {
  width: 20px;
  position: absolute;
  top: 20px;
  font-size: 20px;
  right: 20px;
}

#wrapper #page-content-wrapper .container .map .panel2 #closePanel2:hover {
  color: #a7a7a7;
}

#wrapper #page-content-wrapper .container .welcome {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wrapper #page-content-wrapper .container .welcome .logo {
  width: 30%;
  min-width: 200px;
}

#wrapper #page-content-wrapper .container .profile {
  width: 100vw;
  padding-top: 100px;
}

#wrapper.toggled {
  padding-left: 220px;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
  width: 210px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -220px;
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

