*{
    font-family: 'Raleway', sans-serif;
}
body {
    position: relative;
    overflow-x: hidden;
    font-weight: 300;
}
body,
html { height: 100%;}

.bold{
    font-weight: 700;
}


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    .overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(236, 236, 236, 0.8);
        z-index: 1;
    }

    #sidebar-wrapper {
        z-index: 1000;
        position: fixed;
        left: 220px;
        width: 0;
        height: 100%;
        margin-left: -220px;
        overflow-y: auto;
        overflow-x: hidden;
        background: #fff;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;

        .sidebar-nav {
            position: absolute;
            top: 0;
            width: 220px;
            margin: 0;
            padding: 0;
            list-style: none;

            .sidebar-brand {
                height: 65px;
                font-size: 20px;
                line-height: 44px;

                img{
                    width:100px;
                }
            }

            li {
                position: relative; 
                line-height: 20px;
                display: inline-block;
                width: 100%;

                a {
                    display: block;
                    color: #3c3c3c;
                    text-decoration: none;
                    padding: 10px 15px 10px 30px;    
                }
                a:hover{
                    background-color: #fff;
                    font-weight: 500;
                }
            }
        }
    }

    #page-content-wrapper {
        width: 100%;
    
        .hamburger {
            position: fixed;
            top: 20px;  
            z-index: 999;
            display: block;
            width: 32px;
            height: 32px;
            margin-left: 15px;
            background: transparent;
            border: none;
        }
        .hamburger:hover,
        .hamburger:focus,
        .hamburger:active {
            outline: none;
            color: #212121;
        }
        .hamburger.is-closed:before {
        content: '';
            display: block;
            width: 100px;
            font-size: 14px;
            color: #fff;
            line-height: 32px;
            text-align: center;
            opacity: 0;
            -webkit-transform: translate3d(0,0,0);
            -webkit-transition: all .35s ease-in-out;
        }
        .hamburger.is-closed:hover:before {
            opacity: 1;
            display: block;
            -webkit-transform: translate3d(-100px,0,0);
            -webkit-transition: all .35s ease-in-out;
        }
        
        .hamburger.is-closed .hamb-top,
        .hamburger.is-closed .hamb-middle,
        .hamburger.is-closed .hamb-bottom,
        .hamburger.is-open .hamb-top,
        .hamburger.is-open .hamb-middle,
        .hamburger.is-open .hamb-bottom {
            position: absolute;
            left: 0;
            height: 4px;
            width: 100%;
        }
        .hamburger.is-closed .hamb-top,
        .hamburger.is-closed .hamb-middle,
        .hamburger.is-closed .hamb-bottom {
            background-color: #1a1a1a;
        }
        .hamburger.is-closed .hamb-top { 
            top: 5px; 
            -webkit-transition: all .35s ease-in-out;
        }
        .hamburger.is-closed .hamb-middle {
            top: 50%;
            margin-top: -2px;
        }
        .hamburger.is-closed .hamb-bottom {
            bottom: 5px;  
            -webkit-transition: all .35s ease-in-out;
        }
        
        .hamburger.is-closed:hover .hamb-top {
            top: 0;
            -webkit-transition: all .35s ease-in-out;
        }
        .hamburger.is-closed:hover .hamb-bottom {
            bottom: 0;
            -webkit-transition: all .35s ease-in-out;
        }
        .hamburger.is-open .hamb-top,
        .hamburger.is-open .hamb-middle,
        .hamburger.is-open .hamb-bottom {
            background-color: #1a1a1a;
        }
        .hamburger.is-open .hamb-top,
        .hamburger.is-open .hamb-bottom {
            top: 50%;
            margin-top: -2px;  
        }
        .hamburger.is-open .hamb-top { 
            -webkit-transform: rotate(45deg);
            -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
        }
        .hamburger.is-open .hamb-middle { display: none; }
        .hamburger.is-open .hamb-bottom {
            -webkit-transform: rotate(-45deg);
            -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
        }
        .hamburger.is-open:before {
        content: '';
            display: block;
            width: 100px;
            font-size: 14px;
            color: #fff;
            line-height: 32px;
            text-align: center;
            opacity: 0;
            -webkit-transform: translate3d(0,0,0);
            -webkit-transition: all .35s ease-in-out;
        }
        .hamburger.is-open:hover:before {
            opacity: 1;
            display: block;
            -webkit-transform: translate3d(-100px,0,0);
            -webkit-transition: all .35s ease-in-out;
        }
    
        .alertRow{
            position: absolute;
            z-index: 3;
            top: 30px;
            text-align: center;
            width: 100%;
        
            .alertCol{
                width: 100%;
                margin: 0 auto;
        
                .alert{
                    width: 50%;
                    margin: 0 auto;
                }
            }
        }
    
        .container{
            margin: 0 !important;
            padding: 0 !important;
            width:100%;

            .eventSingle{
                .eventSingleCol{
                    .single{
                        width: 70%;
                        margin: 70px auto;

                        #startPlaceLattitude, #startPlaceLongitude, #stopPlaceLattitude, #stopPlaceLongitude{
                            display: none;
                        }
                    }
                }
                .eventPointMap{
                    height: 100vh;
                }
            }

            .newEvent{
                .newEventCol{
                    margin: 70px auto;
                    h1{
                        text-align: center;
                        padding-bottom: 50px;
                        font-weight: 700;
                        color: #5a5a5a;
                    }
                    form{
                        width: 70%;
                        margin: 0 auto;
                        label{
                            font-weight: 500;
                        }
                        #startPlacePick, #stopPlacePick, .addEventFormBtn{
                            border: 2px solid #ccc;
                            padding: 10px 30px;
                            margin-top: 20px;
                        }
                        .dateGroup{
                            margin-top: 30px;
                        }
                    }
                }
                .newEventMap{
                    height: 100vh;
                }
            }
            
            .events{
                padding-top: 40px;
                position: relative;

                .createEventBtn{
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding-right: 50px;
                    padding-top: 70px;
                    font-size: 20px;
                    width: 200px;
                    text-align: right;
                    font-weight: 700;
                    color: #5a5a5a;
                    border-radius: 0 15px 0 100%;
                    height: 200px;
                    border: none;
                    color: #fff;
                    background-color: #91cbff;
                }
                .createEventBtn:hover{
                    color: #e8e8e8;
                    transition-duration: 1s;
                    -webkit-box-shadow: -5px 5px 25px 0px rgba(235, 235, 235, 1);
                    -moz-box-shadow: -5px 5px 25px 0px rgba(235, 235, 235, 1);
                    box-shadow: -5px 5px 25px 0px rgba(235, 235, 235, 1);
                }

                .eventsCol{

                    h1{
                        text-align: center;
                        padding-bottom: 50px;
                        font-weight: 700;
                        color: #5a5a5a;
                    }
                    .well{
                        position: relative;
                        padding: 40px;
                        background-color: #fff;
                        -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
                        -moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
                        box-shadow: 0px 0px 35px 0px rgba(172, 172, 172, 0.75);
                        border-radius: 15px;

                        .eventName{
                            font-size: 20px;
                            font-weight: 700;
                            padding-bottom: 15px;
                            
                            a{
                                color: #5a5a5a;
                            }
                            a:hover{
                                color: #ccc;
                                text-decoration: none!important;
                            }
                        }
                        .eventDetailsBtn{
                            border: 2px solid #ccc;
                            padding: 10px 30px;
                            margin-top: 20px;
                        }
                        .joinEventIndexBtn{
                            position: absolute;
                            top: 0;
                            right: 0;
                            padding-right: 30px;
                            font-size: 20px;
                            width: 200px;
                            text-align: right;
                            font-weight: 700;
                            color: #5a5a5a;
                            border-radius: 0 15px 0 100%;
                            height: 200px;
                            border: none;
                            color: #fff;
                            background-color: #91cbff;
                        }
                        .joinEventIndexBtn:hover{
                            color: #e8e8e8;
                            transition-duration: 1s;
                            -webkit-box-shadow: -5px 5px 25px 0px rgba(235, 235, 235, 1);
                            -moz-box-shadow: -5px 5px 25px 0px rgba(235, 235, 235, 1);
                            box-shadow: -5px 5px 25px 0px rgba(235, 235, 235, 1);
                        }
                    }
                }
            }
        
            .register{
                width: 100vw;
                padding-top: 100px;
            }
        
            .login{
                width: 100vw;
                padding-top: 100px;
            }
        
            .map{
                width: 100vw;
                height: 100vh;
                margin: 0 auto;

                .loginInfo{
                    position: absolute;
                    z-index: 4;
                    width: 80%;
                    left: 10%;
                    background-color: #fff;
                    bottom: 10%;
                    font-size: 22px;
                    margin: 0 auto;
                    text-align: center;
                    border: 3px solid #e7e7e7;
                    border-radius: 10px;
                    padding: 20px 0;

                    p{
                        margin: 0;
                    }
                }

                .logedInfo{
                    position: absolute;
                    z-index: 4;
                    width: 80%;
                    left: 10%;
                    background-color: #fff;
                    bottom: 10%;
                    font-size: 22px;
                    margin: 0 auto;
                    text-align: center;
                    border: 3px solid #e7e7e7;
                    border-radius: 10px;
                    padding: 20px 0;

                    p{
                        margin: 0;
                    }
                }
        
                .searchForm{
                    position: absolute;
                    z-index: 2;
                    width: 40%;
                    margin: 50px 30% 0 30%;
        
                    #location{
                        -webkit-box-shadow: 0px 0px 30px 4px rgba(0,0,0,0.35);
                        -moz-box-shadow: 0px 0px 30px 4px rgba(0,0,0,0.35);
                        box-shadow: 0px 0px 30px 4px rgba(0,0,0,0.35);
                        padding: 25px;
                    }
                }
        
                #addPointBtn{
                    display: none;
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding-right: 40px;
                    padding-top: 70px;
                    font-size: 20px;
                    width: 200px;
                    text-align: right;
                    font-weight: 700;
                    color: #5a5a5a;
                    border-radius: 0 0 0 100%;
                    height: 200px;
                    border: none;
                    color: #fff;
                    background-color: #91cbff;
                }
                #addPointBtn:hover{
                    color: #e8e8e8;
                    transition-duration: 1s;
                    -webkit-box-shadow: -5px 5px 25px 0px rgba(235, 235, 235, 1);
                    -moz-box-shadow: -5px 5px 25px 0px rgba(235, 235, 235, 1);
                    box-shadow: -5px 5px 25px 0px rgba(235, 235, 235, 1);
                }
        
                .panel{
                    width: 500px;
                    height: 100vh;
                    margin: 0;
                    position: absolute;
                    bottom: 0;
                    background-color: #fff;
                    display: none;
                    padding: 60px 70px;
                    -webkit-box-shadow: 0px -30px 42px 10px rgba(212,212,212,1);
                    -moz-box-shadow: 0px -30px 42px 10px rgba(212,212,212,1);
                    box-shadow: 0px -30px 42px 10px rgba(212,212,212,1);
        
                    h1{
                        text-align: center;
                        padding-bottom: 50px;
                        font-weight: 700;
                        color: #5a5a5a;
                    }
                    p{
                        font-size: 16px;
                        color: #212121;
                    }
                    .panelComments{
                        margin-top: 40px;

                        h3{
                            font-weight: 700;
                            color: #5a5a5a;
                            padding-bottom: 10px;
                        }
                        .commentSingle{
                            padding-bottom: 20px;

                            .commentBody{
                                padding-left: 20px;
                            }
                        }
                        .commentSingle:last-child{
                            padding-bottom: 0;
                        }
                    }
                    #addComment{
                        margin-top: 50px;

                        .addCommentBtn{
                            margin: 0 !important;
                            border: 2px solid #ccc;
                            padding: 10px 30px;
                            margin-top: 20px;
                        }
                    }
                    #closePanel{
                        width: 20px;
                        position: absolute;
                        top: 20px;
                        font-size: 20px;
                        right: 20px;
                    }
                    #closePanel:hover{
                        color: #a7a7a7;
                    }
                }
        
                .panel2{
                    width: 500px;
                    height: 100vh;
                    position: absolute;
                    z-index: 3;
                    bottom: 0;
                    background-color: #fff;
                    display: none;
                    padding: 60px 70px;

                    h1{
                        text-align: center;
                        padding-bottom: 50px;
                        font-weight: 700;
                        color: #5a5a5a;
                    }
                    #addPointForm{
                        label{
                            font-weight: 500;
                        }
                        .addPointBtn{
                            border: 2px solid #ccc;
                            padding: 10px 30px;
                            margin-top: 20px;
                        }
                    }
                    p{
                        font-size: 16px;
                        color: #212121;
                    }
                    #closePanel2{
                        width: 20px;
                        position: absolute;
                        top: 20px;
                        font-size: 20px;
                        right: 20px;
                    }
                    #closePanel2:hover{
                        color: #a7a7a7;
                    }
                }
            }
        
            .welcome{
                width: 100vw;
                height: 100vh;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
        
                .logo{
                    width: 30%;
                    min-width: 200px;
                }
            }
        
            .profile{
                width: 100vw;
                padding-top: 100px;
            }
        }
    }
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 210px;
}



#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}



